
<div class="container">
    <h1>Register</h1>

 </div>
    <form style>
     
      <div class="abc">
    <label for="Name"  ><b>Username</b></label><br/></div>
   <div class="container">
    <input type="text" placeholder="Enter Name" name="Name" required><br/></div>
    
    <div class="abc">
      <label for="email"><b>Email</b></label><br/></div>
    <div class="container">
    <input type="text" placeholder="Enter Phone Number" name="email" required><br/></div>
   
    <div class="abc">
    <label for="phno" ><b>Phone Number</b></label><br/></div>
    <div class="container">
   <input type="number" placeholder="Enter Phone Number" name="phno" required><br/></div>

   <div class="abc">
   <label for="psw"><b>Password</b></label><br/></div>
   <div class="container">
    <input type="password" placeholder="Enter Password" name="psw" required><br/></div>
 
    <div class="abc">
   <label for="address"><b>Address</b></label><br/></div>
   <div class="container">
    <input type="text" placeholder="Enter address" name="address" required><br/></div>

    <div class="abc">
    <label for="pan"><b>Pan Card Number</b></label><br/></div>
    <div class="container">
    <input type="text" placeholder="Pan Card Number" name="pan" required><br/></div>

    <div class="abc">
    <label for="adh"><b>Aadhar Card Number</b></label><br/></div>
    <div class="container">
    <input type="text" placeholder="Aadhar Card Number" name="adh" required><br/></div>
  

  </form>

<div class="container">
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p><br/>

    <button type="submit" class="registerbtn">Register</button><br/>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div> 


