
.container{
    text-align: center;
    font-size: 100;
    text-decoration: underline;
    color: rgb(25, 76, 187);
}

.abc {
    border-radius: 12px;
    font-size: 35px;
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
  }