<div class="login" >
  
    <div ></div>
      <div class="login-triangle"></div>
      
      <h2 class="login-header">User Log in</h2>
      
      <form class="login-container">
       
       <p> <input  type="text" placeholder="Enter Name" [(ngModel)]=login.userName #username="ngModel" required name="username" pattern="[A-Za-z]{1,50}"  required><br/></p>
       <div class="error" *ngIf="username.touched" >
        <p *ngIf="username.errors?.required">Username required</p>
  
        <p *ngIf="username.errors?.pattern">Username pattern required</p>
      </div>

       <p> <input  type="password" placeholder="Enter Password" [(ngModel)]=login.password  #password="ngModel" required name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required><br/></p>
       <div class="error" *ngIf="password.touched" >
        <p *ngIf="password.errors?.required">password required</p>
  
        <p *ngIf="password.errors?.pattern">Must contain at least one number and one uppercase and lowercase letter, and at least 8  characters</p>
      </div>

        <p><input type="submit" (click)="doLogin()" value="Log in"></p>
      </form>
    </div>
  