
<div class="bg-img">
  <h1 style="text-align: center;color:whitesmoke">Contact Us</h1>
        
        <div class="content">
            <div class="call">
            <img src="/assets/call.png" style="width: 30px;">
            <label class="mobile">+91-9083467897,+91-8765844379</label>
          </div>
          <div class="mail">
            <img src="/assets/mail.png" style="width: 30px;">
            <label class="mailid">vehicleloan13@gmail.com</label>
          </div>
          <div class="address">
              <img src="/assets/add2.webp" style="width: 30px;">
              <label class="add">No.21 Ground Floor, Plot No 19A,Sector 20,Kharghar,Navi Mumbai,Maharashtra 410210</label>
          </div>
        </div>
  </div>