.bg-img
{
    background-image: url('/assets/put1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.call{
    margin-left:400px;
    margin-top: 50px;
}
.mail{
    margin-left:400px;
    margin-top: 10px;
}
.address{
    margin-left:400px;
    margin-top: 10px;
}
p{
    font-size: 25px;
    margin-left:600px;
    font-family: 'Times New Roman', Times, serif;
}
.mobile{
    color:whitesmoke;
    margin-left: 10px;
}
.mailid{
    color:whitesmoke;
    margin-left: 10px;
   font-family: serif;
    font-size: 18px
}
.add{
    color:whitesmoke;
    margin-left: 10px;
}