<body>
  <h1 style="text-align:center; background-color: white;">Mobile Phones</h1>


<div class="row">
  <div class="column" >
    <div class="card" style="text-align: center;">
        <img src="assets/Phone1.jpeg" alt="Denim Jeans" style="width:35%">
        <h1 style="text-align: center;">Mi-Redmi</h1>
        <p class="price">Rs 25000.00</p>
        <p>phone info</p>
        <p><button  (click)="purchase()" >Buy Product</button></p>
    
      </div>
     
  </div>
  <div class="column" >
    <div class="card"  style="text-align:center;">
        <img src="assets/Phone2.jpeg" alt="Denim Jeans" style="width:35.2%">
        <h1>Oppo</h1>
        <p class="price">Rs 20000.00</p>
        <p>Phone info</p>
        <p><button  (click)="purchase()" >Buy Product</button></p>
      
      </div>
      
  </div>
  <div class="column">
    <div class="card"  style="text-align:center;">
        <img src="assets/Phone3.jpeg" alt="Denim Jeans" style="width:51%">
        <h1>iPhone 7</h1>
        <p class="price">Rs 50000.00</p>
        <p>Phone info</p>
        <button (click)="purchase()">Buy Product</button>
      </div>
  </div>
</div>
<div class="row">
  <div class="column" >
    <div class="card" style="text-align:center;">
        <img src="assets/Phone4.jpeg" alt="Denim Jeans" style="width:34%">
        <h1 style="text-align: center;">Realme</h1>
        <p class="price">Rs 17000.00</p>
        <p>Phone info</p>
        <p><button  (click)="purchase()" >Buy Product</button></p>
    
      </div>
   
  </div>
  <div class="column" >
    <div class="card" style="text-align:center;">
        <img src="assets/Phone5.jpeg" alt="Denim Jeans" style="width:35%">
        <h1>Vivo</h1>
        <p class="price">Rs 20000.00</p>
        <p>Phone info</p>
        <p><button  (click)="purchase()" >Buy Product</button></p>
      </div>
      
  </div>
  <div class="column" >
    <div class="card" style="text-align:center;">
        <img src="assets/Phone6.jpeg" alt="Denim Jeans" style="width:35.5%">
        <h1 style="text-align: center;">Samsung Galaxy</h1>
        <p class="price">Rs 40000.00</p>
        <p>Phone info</p>
        <p><button  (click)="purchase()" >Buy Product</button></p>
    
      </div>
    
  </div>
  </div>
</body>