
body{
    background-color: lightblue;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 80%;
    font-family: arial;
    background-color: whitesmoke;
  
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    
   /* cursor: pointer;*/
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  
  
 
  
  
  * {
    box-sizing: border-box;
    
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width:99%;
    padding: 10px;
    padding-bottom: 250px;
    height: 500px; /* Should be removed. Only for demonstration */
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  .row{
    float: left;
    
  }
  