
<body>
    <h1 style="text-align:center; background-color: white;">Laptops</h1>
  
  
 
  <div class="row">
    <div class="column" >

      <div class="card" style="text-align:center;">
        <img src="assets/lap4.jpeg" style="width:100%">
        <h1 style="text-align: center;">Asus</h1>
        <p class="price">Rs 30000.00</p>
        <p>Laptop info</p>
        <p><button (click)="details(13)" >View Product</button></p>
    
      </div>
     
  </div>
  <div class="column" >
    <div class="card" style="text-align:center;">
        <img src="assets/lap5.jpeg" style="width:100%">
        <h1>HP</h1>
        <p class="price">Rs 50000.00</p>
        <p>Laptop info</p>
        <p><button (click)="details(14)" >View Product</button></p>
      </div>
  </div>
  <div class="column" >
    <div class="card" style="text-align:center;">
        <img src="assets/lap6.jpg" style="width:100%;">
        <h1>MSI</h1>
        <p class="price">Rs 70000.00</p>
        <p>Laptop info</p>
        <p><button (click)="details(15)" >View Product</button></p>
      </div>
    </div>
   <div class="column" >
      <div class="card" style="text-align:center;">
                <img src="assets/lap1.jpeg"  style="width:100%;">
                <h1>Dell</h1>
                <p class="price">Rs 50000.00</p>
                <p>Laptop info</p>
                <p><button (click)="details(16)" >View Product</button></p>
       </div>
    </div>
    <div class="column" >
      <div class="card" style="text-align:center;">
                    <img src="assets/lap2.jpeg" style="width:100%; ">
                    <h1>Acer</h1>
                    <p class="price">Rs 40000.00</p>
                    <p>Laptop info</p>
                    <p><button (click)="details(17)" >View Product</button></p>
        </div>
      </div>
     <div class="column" >
        <div class="card" style="text-align:center;">
                        <img src="assets/lap3.jpeg" style="width:100%; ">
                        <h1>MacBook</h1>
                        <p class="price">Rs 100000.00</p>
                        <p>Laptop info</p>
                        <p><button (click)="details(18)" >View Product</button></p>
         </div>
      </div>
    </div>