<h2 style="text-align:center">Product details</h2>

<div  class="price">
  <h1>product.productName</h1>

  <h2>₹product.price</h2>
<!--  <h5> Processing Fees: ₹{{product.productProcessingFees}} </h5> -->
  <!--<p>buy now at emi starting from ₹{{product.price/12}}/month*</p>-->
  <p><b>Product Available</b> {{product.productDetails}} Units Available</p>
  <p><b>Product Description:</b></p>
  

 <div>
      <p><button  (click)="purchase()" class="buynow" type="submit" >Buy Now</button></p>

    </div>


</div >
