<body>
  <h1 style="text-align:center; background-color: white;">Sports Accessories</h1>


<div class="row">
  <div class="column" >
    <div class="card" style="text-align: center;">
        <img src="assets/1.jpg.jpeg"  style="width:67%">
        <h1 style="text-align: center;">Accessories 1</h1>
        <p class="price">Rs 5000.00</p>
        <p>Accessories info</p>
        <p><button (click)="purchase()" >View Product</button></p>
    
      </div>
  
  </div>
  <div class="column" >
    <div class="card"  style="text-align:center;">
        <img src="assets/2.jpg.jpeg"  style="width:52%">
        <h1>Accessories 2</h1>
        <p class="price">Rs 20000.00</p>
        <p>Accessories info</p>
        <p><button (click)="purchase()" >View Product</button></p>
      
      </div>
      
  </div>
  <div class="column">
    <div class="card"  style="text-align:center;">
        <img src="assets/3.jpg.jpeg"  style="width:68%">
        <h1>Accessories 3</h1>
        <p class="price">Rs 2500.00</p>
        <p>Accessories info</p>
        <p><button (click)="purchase()" >View Product</button></p>
      </div>
  </div>
</div>
<div class="row">
  <div class="column" >
    <div class="card" style="text-align:center;">
        <img src="assets/4.jpg.jpeg" style="width:8%">
        <h1 style="text-align: center;">Accessories 4</h1>
        <p class="price">Rs 10000.00</p>
        <p>Accessories info</p>
        <p><button (click)="purchase()" >View Product</button></p>
    
      </div>
     
  </div>
  <div class="column" >
    <div class="card" style="text-align:center;">
        <img src="assets/5.jpg.jpeg" style="width:71.5%">
        <h1>Accessories 5</h1>
        <p class="price">Rs 15000.00</p>
        <p>Accessories info</p>
        <p><button (click)="purchase()" >Buy Product</button></p>
      </div>
      
  </div>
  <div class="column" >
    <div class="card" style="text-align:center;">
        <img src="assets/6.jpg.jpeg" style="width:80%; height: 211px;">
        <h1 style="text-align: center;">Accessories 6</h1>
        <p class="price">Rs 7000.00</p>
        <p>Accessories info</p>
        <p><button (click)="purchase()" >View Product</button></p>
    
      </div>
     
  </div>
  </div>
</body>
