<h2 style="text-align: center;font-size: 80;">New Features</h2>
   
    
<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
<figure>
<img src="assets/slide1.jpg" alt>
<img src="assets/slide3.jpg" alt>
<img src="assets/slide2.jpg" alt>

</figure>
</div>

<h1 style="text-align: center;color: rgb(85, 96, 238);">Featured Items</h1>
<div class="catagory">
 <a routerLink="tosport"><img class="sport" src="assets/first1.jpg" style="width:33%"></a> 
 <a routerLink="tomobile"><img class="mobiles" src="assets/second.jpg" style="width:33%"></a> 
 <a routerLink="tolaptop"><img class="laptops" src="assets/third.jpg" style="width:33%"></a> 
</div>
  