
<body>
<h2>Payment Checkout Form</h2>
      <form action="/action_page.php">
          <div class="col-50">
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" >
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber"  [(ngModel)]=purchase.pCardNo  placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Date</label>
            
            <input type="date" id="expyear"  [(ngModel)]=purchase.expryDate  name="expyear" >
            <label for="cvv">CVV</label>
            <input type="text" id="cvv"  [(ngModel)]=purchase.cvv  name="cvv" >
          </div>
       
      </form>
      <input  (click)="dashboard()" type="submit" value="Continue to checkout" class="btn">
</body>
