
<body>
<h2>Payment Checkout Form</h2>
      <form>
          <div class="col-50">
    
            <label for="ccnum">Credit card number</label>
            <input type="number" id="ccnum" name="cardnumber"  [(ngModel)]=user.pCardNo  placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Date</label>
            
            <input type="date" id="expyear"  [(ngModel)]=user.expryDate  name="expyear" >
            <label for="cvv">CVV</label>
            <input type="number" id="cvv"  [(ngModel)]=user.cvv  name="cvv" >
          </div>
          <button  (click)="dashboard()">view Checkout</button>
    
      </form>
      
</body>
